S3method(open,ncdf)
export(.colseq)
export(.getval)
export(apply.NetCDF)
export(applyfilter)
export(bbfun)
export(collapse2mat)
export(compute_dist)
export(desired_response)
export(doy)
export(fdrfun)
export(fullfilter)
export(gbfun)
export(get_filter_weights)
export(get_response)
export(make_filter)
export(ncdf_times)
export(nefffun)
export(qfun)
export(qq)
export(quantfun)
export(rbfun)
export(readAndMergeCMIP5)
export(readNetCDF)
export(readSeasNetCDF)
export(reset_position)
export(select_ensembles)
export(select_models)
export(select_seas)
export(select_time)
export(set_position)
export(simplecap)
export(time_average)
export(vert.poly)
export(wqfun)
